header{
    width: 100vw;
    height: 5.833rem;
    // background-color: transparent;
    background-color: #000;
    position: fixed;
    z-index: 10;
    font-family: 'Noto Sans KR';
    >.nav-wrap{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 4rem;
        .logo-box{
            margin-right: 2rem;
            display: flex;
            align-items: center;
            width: 10.333rem;
        }
        .nav-list{
            display: flex;
            gap: 50px;
            li{
                a{
                    font-size: 1.333rem;
                    color: var(--color-font-gray);
                    font-weight: 400;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .icon-box{
            margin-left: auto;
            height: 2.333rem;
            display: flex;
            cursor: pointer;
            padding-right: 25px;
            .search{
                width: 2.333rem;
                border: none;
                background-color: transparent;
                margin-right: 2.5rem;
            }
            .profile{
                width: 2.333rem;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }
    }
}