:root {
    --color-tvn: #ff1f45;
    --color-ad: #fcc800;
    --color-cate-home: #ff1f45;
    --color-cate-live: #ff584a;
    --color-cate-vod: #387dff;
    --color-cate-clip: #fd8163;
    --color-cate-movie: #7d57fc;
    --color-cate-kids: #ffc031;
    --swiper-theme-color: #007aff;
    --color-font-gray: #d9d9d9;
}