.scroll-main{
    .poster-wrap{
        height: 100vh;
        position: relative;
        padding: 0px 5rem 0 4rem;
        margin-top: 5.833rem;
        .banner{
            height: 66%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            gap: 10px;
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .swiper-slide-box{
                background-color: #525252;
                width: 22.2rem;
                height: 100%;
                border-radius: 4px;
                display: flex;
                overflow: hidden;
                .banner-img{
                    object-fit: cover;
                    z-index: 1;
                }
                .title-wrap{
                    position: relative;
                    top: 19rem;
                    width: 100%;
                    color: white;
                    font-family: "Noto Sans KR";
                    display: flex;
                    flex-direction: column;
                    .title-img{
                        position: relative;
                        object-fit: contain;
                        max-height: 9.833rem;
                        right: 160.2rem;
                    }
                    p{
                        position: relative;
                        top: 2rem;
                        right: 110.2rem;
                        font-size: 1.46rem;
                    }
                }
            }
        }
        .category-list{
            margin-top: 1.2rem;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            gap: 10px;
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .category-list__list-slide{
                background-color: #525252;
                background-image: linear-gradient(180deg,rgba(38,38,38,0),#191919);
                width: 22.2rem;
                height: 120px;
                border-radius: 4px;

                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    object-fit: contain;
                    width: 40%;
                }
            }
        }
        .swipe-button{
            position: relative;
            top: -5.5rem;
            left: -3.2rem;
            display: flex;
            justify-content: space-between;
            width: 106%;
            button{
                background-color: transparent;
                border: none;
            }
        }

        .movie-list{
            height: 66%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            gap: 10px;
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            .swiper-slide-box{
                background-color: #525252;
                width: 22.2rem;
                height: 100%;
                border-radius: 4px;
                display: flex;
                overflow: hidden;
                .banner-img{
                    object-fit: cover;
                    z-index: 1;
                }
                .title-wrap{
                    position: relative;
                    top: 19rem;
                    width: 100%;
                    color: white;
                    font-family: "Noto Sans KR";
                    display: flex;
                    flex-direction: column;
                    .title-img{
                        position: relative;
                        object-fit: contain;
                        max-height: 9.833rem;
                        right: 160.2rem;
                    }
                    p{
                        position: relative;
                        top: 2rem;
                        right: 110.2rem;
                        font-size: 1.46rem;
                    }
                }
            }
        }
        .banner-swipe-button{
            position: relative;
            bottom: 19.5rem;
            left: -3.2rem;
            display: flex;
            justify-content: space-between;
            width: 106%;
            z-index: 5;
            button{
                background-color: transparent;
                border: none;
            }
        }
    }
}